<!DOCTYPE html>
<html>
  <head>
    <title>Danh sach san pham</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-8"><h1>Product list</h1></div>
        <div class="col-sm-4 text-right">
          <button type="button" class="btn btn-primary" onclick="handleNewProduct()">New</button>
        </div>
      </div>
      

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Available At</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% danhSach.map(v =>{%>
            <tr>
              <td> <%= v.id %></td>
              <td> <%= v.name %></td>
              <td> <%= v.price %></td>
              <td> <%= v.availableAt %></td>             
              <td class="text-right">
                <button type="button" class="btn btn-primary" onclick="handleEditProduct('<%= v.id %>')">Edit</button>
                <button type="button" class="btn btn-danger" onclick="handleDeleteProduct('<%= v.id %>')">Delete</button>
              </td>             
            </tr>
          <%})%>          
        </tbody>
      </table>

     
    </div>   
    
    
    <script>
      function handleNewProduct() {
        window.location.href='/products/new'
      }
      function handleEditProduct(id) {
        window.location.href='/products/edit/'+id
      }
      function handleDeleteProduct(id) {
        $.ajax({
          type: "DELETE",
          url: '/products/delete/' + id,
          success: function(data)
          {   
            if(data.res == true){
              window.location.href='/products'
            }                
          }
        }); 
      }

    </script>
  </body>
</html>
