<!DOCTYPE html>
<html>
  <head>
    <title>Product list</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



  </head>
  <body>
    <div class="container">


      <div class="row">
        <div class="col-sm-6">
          <h2>Edit Product</h2>
        </div>
        <div class="col-sm-6 text-right">
          <button type="button" class="btn btn-primary"
            onclick="goBack()">Go back</button>
        </div>
      </div>


      <form action="/products/edit-product/<%=pro.id%>" method="POST">
        <div class="form-group">
          <label for="productName">Product Name:</label>
          <input type="text" class="form-control" value="<%=pro.productName%>" id="productName"  name="productName">
        </div>

        <div class="form-group">
          <label for="price">Price:</label>
          <input type="number" class="form-control" value="<%=pro.price%>" id="price"  name="price">
        </div>

        <div class="form-group">
            <label for="published">Published:</label>
            <input type="date" class="form-control" value="<%=pro.published%>" id="published" 
               name="published">
          </div>
          <div class="form-group">
            <label for="idLoaiSP">Category</label>
            <select class="form-control"  id="idLoaiSP" name="idLoaiSP">
             <%loaiSP.forEach(sp => {%> 
                <% if (pro.idLoaiSP == sp.id) { %>
                    <option selected value="<%=sp.id%>"><%=sp.name%></option>
                <% } else { %>
                    <option value="<%=sp.id%>"><%=sp.name%></option>
                <% } %>                
              <%})%>
            </select>
          </div>        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <script>
        function goBack(){
            window.location.href = '/products'
        }
    </script>
  </body>
</html>
